/* body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}
.gmap {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
} */

.maps-main-body {
  height: var(--body-height);
  width: 100%;
  position: relative;
}

.gmap {
  height: var(--body-height);
  width: 100%;
}

.loading {
  height: var(--body-height);
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  justify-content: center;
  align-items: center;
}

.maps-body-gmap {
  height: var(--body-height);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.maps-body {
  width: 100%;
  position: relative;
}

.header-main-parent {
  width: 100%;
  display: flex;
  position: initial;
  justify-content: space-between;
  background-color: rgba(17, 17, 17, 0.863);
  color: white;
  padding: 10px 0;
  align-items: center;
}

.divider {
  border-left: 2px solid rgb(133, 133, 133);
  height: 70%;
  position: absolute;
  margin-left: -3px;
}

.header-right-info-block {
  background-color: #343438;
  padding: 3px 15px;
  border-radius: 15px;
  margin: 0 5px;
  color: white;
}

.battery-level {
  margin: 0 5px;
}

.left-header,
.center-header,
.right-header,
.battery-level {
  display: flex;
  align-items: center;
}

.left-header{
  margin-left: 10px;
}

.main-map-overlay {
  position: initial;
  height: calc(var(--body-height) - 90px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.left-panel-main-parent {
  position: initial;
  height: 90%;
  display: flex;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 5px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.speed-and-rpy {
  display: flex;
  /* background-color: #343438dc; */
  position: relative;
  height: fit-content;
  /* padding: 20px; */
  border-radius: 40px;
  align-items: center;
  margin-top: 10px;
}

.speed-and-rpy-child {
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  display: flex;
}

.speed-and-rpy div {
  margin: 0 5px;
}

.rpy {
  transform: perspective(25px);
  width: 50px;
  height: 50px;
  background-color: rgb(0, 197, 10);
  border-radius: 50%;
  padding: 10px;
  border: 5px solid black;
}

.rpy div {
  margin: 0;
}

.rpy:hover {
  transform: perspective(0);
}

.right-panel-main-parent {
  position: relative;
  transition: all 0.7s ease;
  align-items: center;
  height: 90%;
  width: var(--right-panel-width);
}

.arrow-main-parent {
  margin-right: 10px;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: #03001c;
  left: -56px;
  position: absolute;
  top: 50px;
}

#arrow-main {
  color: #b6eada;
  transition: all 1s ease;
}

.right-panel-main-parent.inactive .arrow-main {
  transform: rotate(0deg);
}

.right-panel-main-parent.active .arrow-main {
  transform: rotate(180deg);
}

.right-panel-body {
  background-color: #03001c;
  padding: 10px;
  height: 95%;
  border-radius: 10px;
}

.right-panel-main-parent.active {
  right: 0px;
}

.right-panel-main-parent.inactive {
  right: calc(0px - var(--right-panel-width));
}

.left-menu {
  background-color: #03001c;
  z-index: 1;
  border-radius: 10px;
  color: #b6eada;
}

.left-menu button {
  color: #b6eada;
}

.tab-panel-hide {
  display: none;
}

:root {
  --body-height: calc(100vh - 64px);
  --right-panel-width: 30%;
}

.connect {
  display: flex;
}

.connection-panel {
  background-color: #301e67a4;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

.connection-panel-grid-item,
.connection-panel-grid-item > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rocket-launch-svg {
  height: 30px;
  width: fit-content;
  margin: 5px;
}

.rotate-right {
  transform: rotate(90deg);
}

.rotate-left {
  transform: rotate(270deg);
}

.rotate-top {
  transform: rotate(0deg);
}

.rotate-bottom {
  transform: rotate(180deg);
}

.rocket-launch-svg path {
  fill: white;
}

.tab-panel {
  overflow: auto;
}

.connection-panel .head {
  display: flex;
  justify-content: space-between;
}
